<h1 class="mt-2 mb-2 text-center">Últimas Noticias</h1>

<%= link_to "New post", new_post_path, class: "btn btn-success" %>
<div class="col-lg-8 col-md-10 mx-auto">
    <!-- Post content-->
    <% @posts.each do |post| %>
      <%= render post %>
      <p><%= link_to "Ver más", post, class: "btn btn-primary" %></p>
    <% end %>
</div>
