@import "bootstrap";
@import "./actiontext.css";

.comentario-fecha {
    font-size: 0.8em;
    color: #999;
}

.borrar-comentario {
    font-size: 0.5em;
    cursor: pointer;
}

.borrar-comentario:hover {
    color: #ddd;
    font-size: 0.5em;
    cursor: pointer;
}